.player {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 500px;
}

.player__line {
    background-color: #4444445d;
    height: 5px;
}

.player__content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-color: #ececec;
    box-sizing: border-box;
    padding: 0px 20px;

}

.button {
    transition: all 0.1s ease;
    background-color: #ffffff00;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 68px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border: 2px solid transparent;
        background: linear-gradient(90deg,
                transparent calc(var(--mouse-x, 0%) - 80%),
                #8e8e8e calc(var(--mouse-x, 0%)),
                transparent calc(var(--mouse-x, 0%) + 80%)) border-box;
        background-position: 0 var(--mouse-y, 0%);
        background-size: 100% 200%;
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover::before {
        opacity: 0.5;
    }

    &:hover {
        background-color: #d9d9d9;
    }

    &:active {
        background-color: #c9c9c9;
    }

    .button__icon {
        width: 20px;
        height: 20px;
        color: #323232;
    }

}

.button__active {
    background-color: #d9d9d9;

    &:hover {
        background-color: #c9c9c9;
    }

    &:active {
        background-color: #b9b9b9;
    }
}

.left__buttons {
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.track {
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    .track__image {
        width: 68px;
        height: 68px;
        background-color: #4e4e4e;

        .track__image__icon {
            width: 100%;
            height: 100%;
            transition: all 0.2s ease;
            background-color: #8e8e8e;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .track__text {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        .track__title {
            user-select: none;
            cursor: pointer;
            transition: all 0.1s ease;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                color: #797979;
            }
        }

        .track__artist {
            user-select: none;
            cursor: pointer;
            transition: all 0.1s ease;
            font-size: 12px;
            font-weight: 600;

            &:hover {
                color: #797979;
            }
        }
    }

    .track__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        

        .track__button__icon {
            width: 16px;
            height: 16px;
            color: #323232;
        }

        .track__button__like {
            position: relative;

            &:hover {
                background-color: #d9d9d9;
            }

            .track__button__icon {
                color: #919191;
            }

        }


        .track__button__liked {
            .track__button__icon {
                color: #ff0000;
            }
        }

        .track__button__added {
            .track__button__icon {
                color: #323232;
            }
        }
    }
}

.right__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;

    .track__button__more {
        display: none;
    }

    .right__button__icon {
        width: 16px;
        height: 16px;
        color: #323232;
    }
}

.more__block {
    position: relative;

    .more__list {
        overflow: hidden;
        bottom: 100%;
        right: 50%;
        transform: translate(50%);
        width: 230px;
        transition: all 0.2s ease;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #ececec;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        .more_button {
            padding: 0 15px;
            gap: 10px;
            transition: all 0.3s ease;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            height: 40px;
            width: 100%;
            border: none;

            &:hover {
                background-color: #d9d9d9;
            }

            &:active {
                background-color: #c9c9c9;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 2px solid transparent;
                background: linear-gradient(90deg,
                        transparent calc(var(--mouse-x, 0%) - 80%),
                        #8e8e8e calc(var(--mouse-x, 0%)),
                        transparent calc(var(--mouse-x, 0%) + 80%)) border-box;
                background-position: 0 var(--mouse-y, 0%);
                background-size: 100% 200%;
                -webkit-mask:
                    linear-gradient(#fff 0 0) padding-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover::before {
                opacity: 0.5;
            }

            .more__button__icon {
                width: 12px;
                height: 12px;
                color: #323232;
            }
        }

        .track__button__add,
        .right__button__ontop,
        .right__button__expand {
            display: none;
        }
        .left__button__repeat,
        .left__button__shuffle {
            display: none;
        }
        .right__button__queue{
            display: none;
        }
    }

    .more__list__show {
        height: fit-content;
        opacity: 1;



    }


    .more__list__hide {
        height: 0;
        opacity: 0;
    }


}

.right__buttons {
    .more__block {
        display: none;
    }
}

@media (max-width: 1200px) {
    .more__list {

        .track__button__add,
        .right__button__ontop,
        .right__button__expand {
            display: flex !important; // Принудительно показываем
        }

        .separator {
            display: flex;
            width: 100%;
            padding: 5px;

            .separator__line {
                height: 1px;
                width: 100%;
                background-color: #8e8e8e;
            }
        }
    }

    .track__buttons {
        .more__block {
            display: none;
        }
    }

    .right__buttons {
        .more__block {
            display: block !important;

            .more__list {
                right: 0%;
                transform: translate(0%);
            }
        }
    }

    // Скрываем оригинальные кнопки
    .track__buttons {
        .track__button__add {
            display: none;
        }
    }

    .right__buttons {
        .right__button__ontop {
            display: none;
        }

        .right__button__expand {
            display: none;
        }

        .track__button__more {
            display: flex !important;
        }
    }
}

@media (max-width: 1024px) {
    .left__buttons {

        .left__button__repeat,
        .left__button__shuffle {
            display: none !important;
        }
    }
    .right__buttons{
        .right__button__queue{
            display: none !important;
        }
    }

    .right__buttons {
        .more__block {

            .left__button__repeat,
            .left__button__shuffle {
                display: flex !important;
            }
            .right__button__queue{
                display: flex !important;
            }
        }
    }
}
@media (max-width: 768px) {
    .track{
        justify-content: center;
    }
    .left__button__prev,
    .left__button__next,
    .track__image{
        display: none !important;
    }
}
